# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environments
env/
venv/
.venv/
env.bak/
venv.bak/

# Distribution and packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# IDE files (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Testing and coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Local development environment files
*.local
